@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme-color: #fe6347;
  --font-family: "Poppins", sans-serif;
  --background-color: #fffbfb;
  --text-color: #233d62;
}

/*
===============
GLOBAL CSS
===============
*/

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/*
==================
Button component
==================
*/

.button {
  padding: 15px 43px;
  border: none;
  border-radius: 36px;
  font-size: 16px;
  font-weight: 600;
}
.button-color {
  background-color: var(--theme-color);
  color: #fff;
  transition: 0.5s;
  box-shadow: 1px 13px 32px -1px #fe6347a8;
}

.button-white {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 0.5s;
  /* box-shadow: 1px 13px 32px -1px #fe6347a8; */
}
.button-color:hover {
  transition: 0.5s;
  scale: 0.9;
}
/*
==================
Section Releted Css
===================
*/
.section-top-title {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
}
.section-title {
  font-size: 45px;
  font-weight: bold;
  color: var(--text-color);
}
.section-subtitle {
  font-size: 20px;
  color: var(--text-color);
  opacity: 0.6;
}
/*
==================
Header Section Css
===================
*/
.header-section {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: left top;
  max-height: 95%;
  height: 712px;
}

.myNav-navbar {
  margin-right: 100px !important;
}
.nav-item {
  margin-right: 25px;
}
.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #a6b0c1;
}
.navbar-nav .nav-link.active {
  color: #233d62 !important;
}
.mytopNavbar {
  margin-top: 35px;
}

/*
==================
Slider Section Css
===================
*/
.slider-title {
  font-size: 65px;
  font-weight: bold;
  color: var(--text-color);
}
.slider-subtitle {
  font-size: 16px;
  font-weight: normal;
  color: var(--text-color);
  opacity: 0.8;
  line-height: 50px;
}
/*
==================
Service Section Css
===================
*/
.service-section {
  margin: 0 0 60px 0;
}

/*
==================
Service Card Css
===================
*/
.service-card {
  padding: 10px;
}
.mycard-img {
  margin-top: 17px;
  margin-bottom: 10px;
}
.card {
  border: none !important;
  background-color: var(--background-color) !important;
}
.card:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  transition: 0.5s;
}
.card-title {
  font-size: 25px !important;
  font-weight: bold;
  color: var(--text-color);
}
.card-body p {
  font-size: 17px;
  color: var(--text-color);
  opacity: 0.6;
}
/*
==================
About Section Css
===================
*/
.about-section {
  margin: 80px 0 80px 0;
}
.about-content > span {
  font-size: 20px;
  color: var(--theme-color);
  font-weight: bold;
}
.about-title {
  font-size: 45px;
  color: var(--text-color);
  font-weight: bold;
}
.about-text {
  font-size: 20px;
  opacity: 0.9;
  color: var(--text-color);
}
.btn-space {
  margin-left: 25px;
}
.abt-icon {
  font-size: 41px;
}
.btns {
  display: flex;
  align-items: center;
  gap: 14px;
}
.about-btn-group {
  display: flex;
  align-items: center;
}

/*
======================
Portfolio Section Css
======================
*/
.portfolio-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 98px;
}

.portfolio-nav > li {
  list-style: none;
}

.portfolio-nav > li > a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.portfolio-nav > li > a.active {
  color: var(--theme-color);
}
.portfolio-nav > li > a:hover {
  color: var(--theme-color);
  transition: 0.6s;
}
.potfolio {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;
}
.portfolio-card {
  max-width: 400px;
  background-color: var(--theme-color);
  height: 430px;
  /* display: flex;
  justify-content: center; */
  border-radius: 25px;
}
.portfolio-card > img {
  width: 100%;
  /* align-self: center; */
  height: 100%;
  border-radius: 25px;
}
